<!Doctype html>
<html lang="en">
<head>
    <%-include('layout/head')%>
    <link rel="stylesheet" href="/fontawesome-free-5.13.1-web/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/client.css">
    <script src="../jquery/jQuery.js" ></script>
</head>
<body>
<input type="checkbox" id="check">
<!-- Designing by CodingLab -->
<label class="button bars" for="check"><i class="fas fa-bars"></i></label>
<div class="side-bar">
    <div class="title">
        <div class="logo">Admin Client</div>
        <label class="button cancel" for="check"><i class="fas fa-times"></i></label>
    </div>
    <ul>
        <li><a onclick="AutoCourses()" href="#" class="nav-link cus-bg" style="background: #418994; color: white;">
                <i class="fas fa-qrcode"></i> Danh sách khóa học
                <div class="show-more"><i class="fas fa-sort-down"></i></div>
            </a>
        </li>
        <div style="display: none;" id="show-option-courses">
            <li><a href="/"><i class="fas fa-address-book"></i>Khóa học Online</a></li>
            <li><a href="/"><i class="far fa-address-book"></i>Khóa học Offline</a></li>
        </div>


        <li><a onclick="AutoClasses()" href="#" class="nav-link cus-bg" style="background: #418994; color: white;">
                <i class="fas fa-chess-rook"></i> Quản lí lớp học
                <div class="show-more"><i class="fas fa-sort-down"></i></div>
            </a>
        </li>
        <div style="display: none;" id="show-option-classes">
            <li><a href="/"><i class="fas fa-pencil-ruler"></i>Quy định đăng kí</a></li>
            <li><a href="/"><i class="fas fa-highlighter"></i>Duyệt đăng kí</a></li>
            <li><a href="/"><i class="fab fa-accusoft"></i>Xếp phòng</a></li>
            <li><a href="/"><i class="fas fa-tablet-alt"></i>Thiết bị</a></li>
        </div>


        <li><a href="#" class="nav-link cus-bg" style="background: #418994; color: white;"><i class="fas fa-calendar-week"></i>Thời khóa biểu (các lớp Offline) </a></li>


        <li><a onclick="AutoStudents()" href="#" class="nav-link cus-bg" style="background: #418994; color: white;"><i class="fas fa-user-graduate"></i>Học viên
                <div onclick="hidemenu()" class="show-more"><i class="fas fa-sort-down"></i></div>
            </a>
        </li>
        <div style="display: none;" id="show-option-students">
            <li><a href="/"><i class="far fa-list-alt"></i>Danh sách học viên</a></li>
            <li><a href="/"><i class="fas fa-sync"></i>Lịch sử giao dịch </a></li>
        </div>



        <li><a onclick="AutoManagers()" href="#" class="nav-link cus-bg" style="background: #418994; color: white;"><i class="fas fa-users-cog"></i>Ban quản lí
                <div class="show-more"><i class="fas fa-sort-down"></i></div>
            </a>
        </li>
        <div style="display: none;" id="show-option-managers">
            <li><a href="/"><i class="fas fa-file-invoice"></i>Biên lai hóa đơn</a></li>
            <li><a href="/"><i class="fas fa-calculator"></i>Thống kê khoản nộp</a></li>
        </div>


        <li><a href="#" class="nav-link cus-bg" style="background: #418994; color: white;"><i class="fas fa-question-circle"></i>Giới thiệu <div class="show-more"></div></a></li>
        <li><a href="#" class="nav-link cus-bg" style="background: #418994; color: white;"><i class="fas fa-phone-volume"></i>Tương tác </a></li>
        <li><a href="#" class="nav-link cus-bg" style="background: #418994; color: white;"><i class="fas fa-comments"></i>SMS </a></li>
    </ul>

    <div class="media-icons">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
    </div>
</div>
</body>

<script type="text/javascript">
    function AutoCourses() {
        $("#show-option-courses").fadeToggle();
    }
    function AutoClasses() {
        $("#show-option-classes").fadeToggle();
    }
    function AutoStudents() {
        $("#show-option-students").fadeToggle();
    }
    function AutoManagers() {
        $("#show-option-managers").fadeToggle();
    }
</script>
</html>
