<!DOCTYPE html>
<html>
<head>
    <%-include('layout/head')%>
<body>
<div class="container">
    <a href="/"><h3>Home page</h3></a>
    <h2>DELETE PRODUCT</h2>
    <form action="/delete/success" method="POST">
        <div class="form-group">
            <label>Product ID</label>
            <input class="form-control" type="text" name='_id'>
        </div>
        <input id="add-btn" class="btn btn-primary" type="submit" value="DELETE PRODUCT">
    </form>
</div>
</body>
</html>
